:root {
    --main_color: #007BFFFF;
    --lovely_gray: #A8A8A8FF;
}


/*Resizer*/

.wanker {
    background: #000;
    color: #F50;
    display: none;
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2014;
}

.wanker-content {
    margin-top: 200px;
    text-align: center;
    font-size: 2.5em;
    letter-spacing: 1px;
}

.wanker-content>p {
    color: white;
}


/*CHAT*/


/*LEFT*/

.chat-body .answer.left {
    padding: 0 0 0 25px;
    text-align: left;
    float: left;
}

.chat-body .answer {
    position: relative;
    max-width: 600px;
    overflow: hidden;
    clear: both;
}

.user_nickname {
    font-size: 1.1em;
}

#user_nickname {
    margin-top: 2px;
    margin-bottom: -3px;
    font-size: 1.1em;
}

.chat-body .answer.left .text {
    background: #FFFFFFFF;
    color: #000;
    border-radius: 8px 8px 8px 0;
}

.chat-body .answer .text {
    padding: 12px;
    font-size: 16px;
    line-height: 26px;
    position: relative;
}

.chat-body .answer.left .text:before {
    left: -30px;
    border-right-color: #FFFFFFFF;
    border-right-width: 12px;
}

.chat-body .answer .text:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    border: 18px solid transparent;
    border-bottom-width: 0;
}

.chat-body .answer.left .time {
    padding-left: 12px;
    font-size: 0.9em;
    margin-top: -5px;
    margin-bottom: 4px;
    color: #333333;
}

.chat-body .answer .time {
    font-size: 16px;
    line-height: 36px;
    position: relative;
    padding-bottom: 1px;
}



/*RIGHT*/

.chat-body .answer.right {
    padding: 0 25px 0 0;
    text-align: left;
    float: right;
}


.chat-body .answer.right .text {
    background: #007BFF;
    color: #ffffff;
    border-radius: 8px 8px 0 8px;
}

.chat-body .answer.right .text:before {
    right: -30px;
    border-left-color: #007BFF;
    border-left-width: 12px;
}

.chat-body .answer.right .time {
    font-size: 0.9em;
    padding-right: 12px;
    margin-top: -5px;
    margin-bottom: 4px;
    color: #333333;
}

.badge-pill {
    border-radius: 50%;
}

body {
    background: #F5F5F5;
}

main {
    max-width: 1366px;
    margin: 0 auto;
    background-color: #fff;
}

.clicked {
    background-color: #419FD9FF;
}

.user_block:hover {
    background-color: #ddd;
}

.clicked:hover {
    background-color: #419FD9FF;
    cursor: default;
}

.search_input {
    max-height: 40px;
    width: 100%;
}

.button_search {
    position: relative;
    float: right;
    top: -32px;
    margin-right: 5px;
    color: silver;
    background-color: #fff;
    border: none;
}

#send_btn {
    color: var(--main_color);
}

#button_settings {
    margin: auto 0;
    padding: 0 15px;
}

.list_users>li {
    display: flex;
    align-items: center;
}

.left_list {
    height: 100%;
    z-index: 1000;
    border-right: 1px solid #dee2e6!important;
}

.center_list {
    height: 100%;
}

.button_bar {
    transition: transform 0.7s ease;
    padding: 0 5px;
}

.but_set_menu {
    display: none;
    margin: auto;
}

#button_menu_dialogue {
    padding: 5px;
    margin-right: 5px;
}

#button_menu_dialogue,
#button_settings {
    color: var(--lovely_gray);
    font-size: 1.4em;
}

#button_menu_dialogue:hover,
#button_settings:hover {
    color: #979797FF;
}

.d-inline-block {
    font-size: 0.9em;
    color: #666;
}

.button_bar {
    color: var(--main_color);
    font-size: 1.4em;
}

.scroll_but {
    display: none;
    position: fixed;
    height: 40px;
    width: 40px;
    font-size: 1.4em;
    right: 10px;
    bottom: 70px;
    padding: inherit;
}

.rotate {
    transform: rotate(-180deg);
}

.header_panel {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #dee2e6!important;
}

.header_panel_left {
    display: flex;
}

.user_photo {
    border-radius: 50%;
    color: white;
    background-color: #444;
    font-size: 26px;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-left: 7px;
    margin-right: 7px;
    font-family: 'Gugi', cursive;
}

.my_photo {
    margin-top: 15px;
    margin-right: 10px;
}

.last_message {
    max-width: 200px;
}

.user_info_lasttime {
    font-size: 0.8rem;
}

.settings_admin {
    position: relative;
    right: 0;
}

.send_input {
    bottom: 0;
}

.messages {
    padding: 5px 10px 5px 10px;
}

.messages>p {
    border-radius: 8px;
    padding: 3px;
    text-align: justify;
    background-color: #CBC8CA;
}

.messages>p.text_left {
    max-width: 80%;
    margin-right: 20%;
}

.messages>p.text_right {
    max-width: 80%;
    margin-left: 20%;
}
#alert_text{
    background-color: #576067;
    border-radius:30px;
    max-width: 320px;
    position: relative;
    margin: 50% auto 0;
}
#msg_to_send {
    min-height: 40px;
    max-height: 140px;
    margin: 0 -40px 0 -80px;
    padding-left: 80px;
    padding-right: 40px;
    z-index: 0;
}

#uploadfiles {
    display: none;
}

.scroll {
    /*background-image: url("https://webfon.top/wp-content/uploads/2018/04/tic-tac-toe.png");*/
    /*background-image: url("https://webfon.top/wp-content/uploads/2017/10/tools.png");*/
    /*background-image: url("https://webfon.top/wp-content/uploads/2016/11/restaurant-1.png");*/
    /*background-image: url("https://webfon.top/wp-content/uploads/2016/10/tetrad-v-kletku.jpg");*/
    /*background-image: url("https://webfon.top/wp-content/uploads/2016/10/osennij-ornament.png");*/
    /*background-image: url("https://webfon.top/wp-content/uploads/2016/10/krasny_kirpich.png");*/
    background-image: url("https://webfon.top/wp-content/uploads/2016/10/4.jpg"); 
    background-size: auto;

    margin-top: 0px;
    position: relative;
    width: 100%;
    /*height: 480px;*/
    height: 100%;
    overflow: auto;
}

.scroll_left {
    /*height: 518px;*/
}

.config>li {
    list-style: none;
    font-size: 1.1em;
    padding: 5px;
}

.config>li:hover {
    background-color: #F1F1F1;
}

.config>li>i {
    color: var(--main_color);
    padding: 5px;
}

.checkbox {
    position: absolute;
    left: 85%;
    padding-top: 4px;
}

input[type="checkbox"] {
    width: 40px;
    height: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: #c6c6c6;
    outline: none;
    border-radius: 50px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, .2);
    transition: 0.5s;
    position: relative;
}

input:checked[type="checkbox"] {
    background: var(--main_color);
}

input[type="checkbox"]::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: 0;
    left: 0;
    background: #fff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: 0.5s;
}

input:checked[type="checkbox"]::before {
    left: 20px;
}

#send_block>button {
    position: relative;
}

#send_block>div.input-group-prepend>button,
#send_block>div.input-group-append>button {
    background: none;
}

#send_block>div.input-group-prepend>button>i {
    color: #495057;
}

.button_bar,
#button_menu_dialogue,
#sing_out,
.user_block,
#button_settings {
    cursor: pointer;
}











/*Bootstrap 4*/

.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
    padding-right: 0;
    padding-left: 0;
}

.setting_menu {
    transform: translate3d(-120px, 0px, 0px);
}

@media (min-width: 1100px) {
    .messages>p.text_left {
        max-width: 55%;
        margin-right: 45%;
    }

    .messages>p.text_right {
        max-width: 55%;
        margin-left: 45%;
    }
}

@media (max-width: 1200px) {}

@media (max-width: 992px) {}

@media (max-width: 768px) {
    .left_list {
        display: none;
        position: absolute;
        background: #fff;
        border: none;
    }
    .scroll_left {
        height: 468px;
    }
    .header_panel_left {
        border-bottom: 1px solid #dee2e6!important;
    }
}

@media (max-width: 576px) {}

.list-group-item {
    padding: 5px;
}

#menu_dialogue.dropdown-toggle::after {
    content: none;
}






/*Полоса прокрутки*/


/*стиль проктутки*/

::-webkit-scrollbar {
    width: 6px;
    /*background: #0000;*/
    background-color: #e4d4e4a1;
    border-radius: 7px;
}

::-webkit-scrollbar:hover {
    /*background: #cacaca30;*/
}




/*слиль повзунка*/

::-webkit-scrollbar-thumb {
    width: 6px;
    /*background: #0000;*/
    background-color: #c1c1c1;
    border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
    /*background-color: #e4d4e4a1;*/
}




/*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}
::-webkit-scrollbar-button {
    background-color: #7c2929;
}
::-webkit-scrollbar-corner {
    background-color: #b3b3b3;
}*/