body {
    background-image: url("https://image.freepik.com/free-photo/beautiful-roses-on-white-underground-with-space-in-the-center_24972-48.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.log_in,
.sign_up {
    width: 100%;
    margin: 0 auto;
}

img {
    width: 100%;
}

.but_succes_email,
.but_succes_nickname,
.but_succes_password {
    display: none;
    color: green;
    position: relative;
}

button {
    width: 100%;
}

#show_form {
    margin-top: 20px;
}

#show_signup_form {
    cursor: pointer;
}
p.text-justify.text-dark.bg-light.text_right.msg::after{
   content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 15px solid #f0f0f0;
    left: -15px;
    top: 15px; 
}

#show_login_form {
    cursor: pointer;
}

#sign_up {
    display: none;
}

.alert {
    display: none;
}

#logo {
    width: 80%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    margin-top: 30px;
}

footer a {
    color: black;
}

footer i {
    font-size: 45px;
}