<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="css/messenger.css">
    <!-- <link rel="shortcut icon" href="images/messeger.svg" type="svg+xml"> -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <title>Hidden | Messenger</title>
</head>

<body>
    <div class="wanker" data-wanker>
        <div class="wanker-content">
            <h1>The web was meant to be read, not squished.</h1>
            <p>Don't resize, just relax ;)</p>
        </div>
    </div>
    <main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-3 left_list" style="display: block;">
                    <div class="header_panel_left">
                        <i class="fa fa-bars" data-toggle="modal" data-target="#modal_my_info" id="button_settings"></i>
                        <form class=" my-2 search_input" id="search_input">
                            <input id="find" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                            <button type="submit" class="button_search"><i class="fa fa-search"></i></button>
                        </form>
                        <div class="p-2 but_set_menu">
                            <i class="fa fa-angle-double-left button_bar" id="active_but_bar1"></i>
                        </div>
                    </div>
                    <!--USERS LIST-->
                    <div class="scroll_left">
                        <ul class="list example list-group list-group-flush list_users">
                        </ul>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-8 col-lg-8 col-xl-9 center_list">
                    <div class="header_panel">
                        <div class="p-2">
                            <i class="fa fa-angle-double-left button_bar" id="active_but_bar2"></i>
                        </div>
                        <div class="user_name_panel">
                            <div id="user_nickname"></div>
                            <div class="font-italic user_info_lasttime"></div>
                        </div>
                        <div class="ml-auto p-2 d-flex">
                            <div class="dropdown">
                                <div class="dropdown-toggle" id="menu_dialogue" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-ellipsis-v" id="button_menu_dialogue"></i>
                                </div>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="menu_dialogue">
                                    <a class="dropdown-item" href="#">Delete conversation</a>
                                    <a class="dropdown-item" href="#">Clear history</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="scroll">
                        <div class="messages chat-body">
                            <div class="text-center" id="alert_text" role="alert">
                                Please select a chat to start messaging
                            </div>
                            <!--MESSEGES-->
                        </div>
                     </div>
                    <button class="btn btn-primary rounded-circle scroll_but"><i class="fa fa-angle-down"></i></button>
                    <div class="input-group" id="send_block">
                        <div class="input-group-prepend">
                            <button class="btn" type="button" id="upload" onclick="clickFindFile();"><i class="fa fa-paperclip"></i></button>
                            <button class="btn" type="button"><i class="fa fa-smile"></i></button>
                        </div>
                        <textarea placeholder="Start writing here..." class="form-control" rows="1" required id="msg_to_send"></textarea>
                        <div class="input-group-append">
                            <button class="btn btn_send" type="button"><i class="fa fa-paper-plane" id="send_btn"></i></button>
                        </div>
                    </div>
                    <form id="uploadfiles" enctype="multipart/form-data" method="post" action="#">
                        <input id="uploadfile" name="myfile" type="file" onchange="clickLoadFile();" />
                        <input type="submit" value="submit" id="loadfile" />
                    </form>
                
            </div>
        </div>
    </main>
    <!--MODAL IMG PICKER-->
    <div class="modal fade" id="img_picker" tabindex="-1" role="dialog" aria-labelledby="imagePicker" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Choose background</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row" id="row_images">
                            <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                <div class="img_picker">
                                    <i class="far fa-check-circle choose_img"></i>
                                    <img src="https://webfon.top/wp-content/uploads/2016/10/krasny_kirpich.png" alt="..." class="img-thumbnail modal_img">
                                </div>
                            </div>
                            <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                <div class="img_picker">
                                    <i class="far fa-check-circle choose_img"></i>
                                    <img src="https://webfon.top/wp-content/uploads/2016/10/4.jpg" alt="..." class="img-thumbnail modal_img">
                                </div>
                            </div>
                            <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                <div class="img_picker">
                                    <i class="far fa-check-circle choose_img"></i>
                                    <img src="https://webfon.top/wp-content/uploads/2016/10/osennij-ornament.png" alt="..." class="img-thumbnail modal_img">
                                </div>
                            </div>
                            <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                <div class="img_picker">
                                    <i class="far fa-check-circle choose_img"></i>
                                    <img src="https://webfon.top/wp-content/uploads/2017/10/tools.png" alt="..." class="img-thumbnail modal_img">
                                </div>
                            </div>
                            <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                <div class="img_picker">
                                    <i class="far fa-check-circle choose_img"></i>
                                    <img src="https://webfon.top/wp-content/uploads/2018/04/tic-tac-toe.png" alt="..." class="img-thumbnail modal_img">
                                </div>
                            </div>
                            <div class="form-group col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                                <div class="img_picker">
                                    <i class="far fa-check-circle choose_img"></i>
                                    <img src="https://webfon.top/wp-content/uploads/2016/11/restaurant-1.png" alt="..." class="img-thumbnail modal_img">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-block btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--USER MODAL INFO-->
    <div class="modal fade" id="modal_user_info" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="user_photo">UN</div>
                    <h5 class="modal-title active" id="modalUserInfo">
                                            <div id="modal_user_nickname">Nickname</div>
                                        </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="config">
                        <li class="d-flex">
                            <i class="fas fa-bell"></i> Notifications
                            <div class="checkbox">
                                <input type="checkbox">
                            </div>
                        </li>
                        <li><i class="fas fa-user-times"></i> Block user</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-block btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--MY MODAL INFO-->
    <div class="modal fade" id="modal_my_info" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="my_photo user_photo"></div>
                    <h5 class="modal-title active" id="modalAdminInfo">
                            <div id="modal_my_nickname"> My Nickname</div>
                            <div id="modal_my_mail">mail@gmail.com</div>
                        </h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="config">
                        <li class="d-flex">
                            <div class="">Night mode</div>
                            <div class="checkbox">
                                <input id="night_mode" type="checkbox">
                            </div>
                        </li>
                        <li id="modal_img">
                            <div id="modal_img_title">
                                <h5>Chat background</h5>
                            </div>
                            <div id="modal_cur_img">
                                <img src="https://webfon.top/wp-content/uploads/2016/10/4.jpg" alt="Your bg image" title="Your background image" class="img-thumbnail">
                            </div>
                            <button id="modal_img_picker" type="button" class="btn btn-block btn-primary btn-sm" data-dismiss="modal" data-toggle="modal" data-target="#img_picker">Choose from gallery</button>
                        </li>
                        <li id="sing_out"><i class="fa fa-sign-out-alt"></i> Sing out</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-block btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="js/jquery.wanker.min.js"></script>
    <script src="js/jquery.timeago.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="js/messenger.js" type="text/javascript"></script>
    <script src="js/main.js" type="text/javascript"></script>
</body>

</html>