<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="css/registration.css">
    <link rel="icon" type="image/png" href="images/logo.png" sizes="96x96">
    <title>Hidden | Registration</title>
</head>

<body>
    <div class="container-fluid">
        <!-- LOGIN-->
        <div class="row">
            <div class="col-12 col-sm-8 col-md-4 col-lg-4 col-xl-4 log_in">
                <img id="logo" src="images/messeger.svg" alt="logo">
                <form id="log_in">
                    <div class="alert alert-danger" role="alert" id="login_error">Username or password is incorrect. Check and try again.</div>
                    <div class="form-group">
                        <label for="nickname">nickname</label>
                        <input type="text" class="form-control" id="nickname" name="nickname" placeholder="nickname" required>
                    </div>
                    <div class="form-group">
                        <label for="password">password</label>
                        <div class="input-group">
                            <input placeholder="********" id="password" type="password" class="form-control" name="password" required data-eye>
                            <div class="input-group-append">
                                <button id="toggle_pass" type="button" class="btn btn-primary"><i id="eye" class="fa fa-eye "></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>
                            <input id="remember" type="checkbox">Remember me
                        </label>
                    </div>
                    <button type="submit" class="btn btn-primary">Login</button>
                    <div class="text-center">
                        Don't have an account? <a id="show_signup_form" class="text-primary">Create One</a>
                    </div>
                </form>
            </div>
        </div>
        <!-- SIGNUP-->
        <div class="row">
            <div class="col-12 col-sm-8 col-md-4 col-lg-4 col-xl-4 sign_up">
                <form id="sign_up">
                    <div class="form-group">
                        <div class="alert alert-danger" role="alert" id="signup_error"></div>
                        <label for="nickname">nickname</label>
                        <i class="fa fa-check-circle but_succes_nickname"></i>
                        <input type="text" class="form-control" id="nickname_s" name="nickname" placeholder="nickname" required>
                        <div class="alert_nickname"></div>
                    </div>
                    <div class="form-group">
                        <label for="email">email</label>
                        <i class="fa fa-check-circle but_succes_email"></i>
                        <input type="email" class="form-control" id="email" value="email@gmail.com" name="email" placeholder="email" required>
                        <div class="alert_email"></div>
                    </div>
                    <div class="form-group">
                        <label for="password">password</label>
                        <i class="fa fa-check-circle but_succes_password"></i>
                        <input type="password" class="form-control" id="password_s" name="password" placeholder="password" required>
                        <div class="alert_password"></div>
                    </div>
                    <div class="form-group">
                        <label>
                            <input type="checkbox" name="aggree" value="1" required> I agree to the Terms and Conditions
                        </label>
                    </div>
                    <button type="submit" id="sign_up_button" class="btn btn-primary">Send</button>
                    <div class="text-center">
                        Already have an account? <a id="show_login_form" class="text-primary">Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- FOOTER-->
    <footer>
        <div class="text-center">
            <ul class="list-unstyled list-inline">
                <li class="list-inline-item">
                    <a class="btn-floating btn-sm mx-1" href="#">
            <i class="fab fa-linkedin"></i>
          </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-sm mx-1" href="#">
            <i class="fab fa-github"></i>
          </a>
                </li>
                <li class="list-inline-item">
                    <a class="btn-floating btn-sm mx-1" href="#">
            <i class="fas fa-envelope-square"></i>
          </a>
                </li>
            </ul>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="js/validate.js"></script>
    <script src="js/registration.js"></script>
</body>

</html>